<header>
  <div>
    <img src="{{ logoUrl }}" alt="logo" />
  </div>

  <ng-container *ngIf="currentService">
    <div class="actions">
      <button class="all-services-btn">
        <img src="assets/icons/all_services_icon.svg" alt="services"> <span>Все сервисы</span>
      </button>
      <button class="user-btn" (click)="showUserInfo = !showUserInfo">
        <img src="assets/icons/user_avatar_small_icon.svg" alt="user">
      </button>
    </div>

    <app-user-info *ngIf="showUserInfo"></app-user-info>
  </ng-container>
</header>
